# Python
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints
*.ipynb

# VSCode, Jupyter
.vscode/
.settings/
*.swp
*.swo
.DS_Store

# Dataset & output
data/
outputs/
checkpoints/
logs/
*.pth
*.pt
*.h5
*.npz
*.csv

# System files
*.tmp
*.bak

# Environment
env/
venv/
.venv/
.idea/
.env
*.env

# Cache
*.cache/
.cache/
*.egg-info/
